.pattern{
    background-color: #4EA0FF;
    background-size: contain;
    background-image: url(../img/pattern.png) repeat;    
}
.title{
    

}

.greytext{
    color: grey;
}

.sub-title{
    color: #4EA0FF;

    
}