.pattern{
    background-color: #4EA0FF;
    background-size: contain;
    background-image: url(../img/pattern.png);
    background-repeat: repeat; 
    height: 60px;  
}
    
.logo{
    position: relative;
    height: 125px;
    width: 125px;
    padding: 25px;
}

.grey-text{
    color: grey;
    margin: 0 auto;
}

h3{
    margin:0 auto;
}

#mg-0-descrizione {
    margin: 0 auto;
    
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#setup-margin-photo{
    margin-top: 25px;
    margin-bottom: 0 auto;
}

.table{
    border: 1px solid;
    border-collapse: collapse;
    border-color: #B1E5F2;
    background-color: #B1E5F2;
} 

td, th {
    border-color: #B1E5F2;
    text-align: left;
    padding: 8;
}

#title-table{

        border: 1px solid;
        border-color: #3a96e2;
        background-color: #3dd9f5;
        color: white;
    }

#withe-tab{
    background-color:white ;
}

.img{
    background-image:url(../img/monitor.jpg);
    
}

